.circle {
  border-radius: 50%;
  height: 100px;
  width:100px;
  border: solid 5px #000;
  margin: 20px;
}

.green {
  background-color: rgba(39, 174, 96,1.0);
}

.green:hover {
  background-color: rgba(46, 204, 113,1.0);
  box-shadow: 0px 0px 10px 3px rgba(46, 204, 113,1.0);
}

.yellow {
  background-color: #DF7401;
}

.yellow:hover {
  background-color: #FE9A2E;
  box-shadow: 0px 0px 10px 3px #FE9A2E;
}

.red {
  background-color: #DF0101;
}

.red:hover {
  background-color: #FF0000;
  box-shadow: 0px 0px 10px 3px #FF0000;
}
